{% comment %}
  Renders custom content for Compass company when B2B portal is enabled. 
{% endcomment %}

{% comment %} compass group company id is 42043244907 {% endcomment %}
{% if customer.current_company.metafields.custom.enable_b2b_portal_menu and customer.current_company.id == 42043244907 %}
  <div class="compass-b2b-content page-width">
    <div class="compass-b2b-content__inner">
      <a href="https://entitybrands.com.au/collections/compass-group">compas</a>
      <a href="https://entitybrands.com.au/collections/foodbuy">food</a>
      <a href="https://entitybrands.com.au/collections/ess">ess</a>
      <a href="https://entitybrands.com.au/collections/deltafm">delta</a>
      <a href="https://entitybrands.com.au/collections/omega-1">omega</a>
    </div>
  </div>
  <script>console.log('sanity check from compass landing section')</script>
{% endif %}

{% schema %}
{
  "name": "Compass B2B Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Compass B2B Portal Content"
    }
  ],
  "presets": [
    {
      "name": "Compass B2B Content"
    }
  ]
}
{% endschema %}